*{
padding: 0;
margin: 0;
box-sizing: border-box;

}

 .header-section-border {
    border-bottom: 1px solid rgb(90, 88, 88);
 }

.header-info-bg {
    background-color: #183152;
}

.fs-14{
    font-size: 14px;
}

.header-info-icon {
    color: rgb(175, 169, 169);
}

.selected-dropdown {
    color: rgb(195, 57, 72);
}

.nav-my-btn {
    background-color: rgb(195, 57, 72) !important ;
    border: 1px solid rgb(195, 57, 72)  ;
}

.navbar-brand {
     font-family: "Raleway", sans-serif;
     font-size: 28px;
     font-weight: 700;
}

.nav-link:hover {
    color: rgb(201, 70, 85) !important;
}

.hero-badge {
    background-color: color(srgb 0.764706 0.223529 0.282353 / 0.12);
    color: rgb(195, 57, 72);
    padding: 10px;
    font-size: 14px;
    font-weight: 500;


}


.hero-image-heading {
    font-family: "Raleway", sans-serif;
    color: rgb(24, 49, 82);
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 800;
}

.hero-image-para {
    color: rgb(107, 103, 103);
    line-height: 25px;
}

.hero-stats {
    margin-bottom: 32px;
    padding: 18px 24px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.stats-item h3{
    font-size: 28px;
    font-family: "Raleway", sans-serif;
    color: rgb(195, 57, 72);
    font-weight: 800;
    position: relative;

}

/* .stats-item h3::after {
    content: "";
    width: 1px;
    height: 40px;
    background-color: grey;
    position: absolute;
    left: 160px;
    top: 15px;
} */


.hero-primary {
    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 10px 18px !important;
    border-radius: 8px !important;
    transition:  0.3s ease !important;

}

.hero-secondary {
     padding: 10px 18px !important;
    border-radius: 8px !important;
    background-color: transparent !important;
     transition:  0.3s ease !important;

}

.hero-image {
    border-radius: 15px;
    position: relative;
    width: 100%;
    height: 450px;

    
   
}

.floating-card {
    border-radius: 15px;
    position: absolute;
    bottom: 80px;
    left: -30px;
}

.floating-card i{
    font-size: 24px;


}

.floating-info h4 {
    font-size: 16px;
}


.featured-card {
    padding: 40px 32px 32px 32px;
    border-radius: 15px;
    border: 1px solid rgb(236, 236, 236);
    position: relative;
    transition: all 0.3s ease;
    border-bottom: 5px solid transparent;
    
}

.featured-card-selected {
    border-top: 1px solid rgb(195, 57, 72);
    border-left:1px solid rgb(195, 57, 72) ;
    border-right: 1px solid rgb(195, 57, 72);
    border-bottom:4px solid rgb(195, 57, 72);
    padding: 40px 32px 32px 32px;
    border-radius: 15px;
     position: relative;
    transition: all 0.3s ease;
}


.featured-card-number {
    position: absolute;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 700;
    top: 0px;
    right: 20px;
    color: rgb(245, 242, 242);

}

.featured-icon {
    width: 65px;
    height: 65px;
    border-radius: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.featured-card p {
    color: rgb(128, 125, 125);
    margin-bottom: 20px;
}

.featured-icon-background-light {
    background-color: rgb(255, 201, 201);
}

.featured-icon-background-dark {
    background-color: rgb(195, 57, 72);
}



/* cta-banner */
.cta-banner-main {
    border-radius: 15px;
    border-left: 5px solid rgb(195, 57, 72);
}

.banner-date {
    width: 85px !important;
    height: 85px;
    border-radius: 15px;
    text-align: center;
}

.banner-left-info h5{
    font-family: "Raleway", sans-serif;
}

.banner-heading {
    background-color: rgb(255, 175, 175);
    font-size: 12px !important;
}

.heading-section h3 {
    color: rgb(24, 49, 82);
    font-size: 22px;
    margin-top: 10px;

}

.heading-section p {
    color: rgb(139, 135, 135) ;
    

}

.right-part-btn a {
    padding: 12px 28px !important;
    font-weight: 600;
    font-size: 15px;
    
}

.right-part-btn p {
   
    font-size: 12px;
    
}


.navbar-nav .nav-item a:hover {
    color: aqua;
}


.hero-primary:hover{
    transform: translateY(-3px);
}

.hero-secondary:hover{
    transform: translateY(-3px);
   
    color: rgb(195, 57, 72) !important;
}

.featured-card:hover {
    transform: translateY(-3px);
    border-bottom: 5px solid rgb(195, 57, 72);
    
}

.right-btn-effect {
    transition: all 0.3s ease;
}

.right-btn-effect:hover {
    transform:  translateY(-3px);
}

.featured-card-selected i:hover {
    transform: translateX(3px);
}


/* section-3 */

.experiance-card {
    background-color:  rgb(195, 57, 72) !important;
    bottom: 20px !important;
    left: 20px  !important;
    padding: 15px 28px;
    border-radius: 20px;

}

.experiance-card h3{
    font-family: "Raleway", sans-serif !important;
    font-size: 34px !important;
    font-weight: 800;
}

.section-3-image-part img{
    border-radius: 15px !important;
    height: 450px;
}

.title-small::before {
    content: "";
    width: 26px;
    height: 2px;
    background-color:rgb(195, 57, 72) ;
    left: -39px;
    top: 11px ;
    position: absolute; 
}

.section-3-title {
    font-size: 40px;
     font-family: "Raleway", sans-serif !important;
     color: rgb(24, 49, 82);
     font-weight: 700;
     margin-top: 15px;
}


.card-info {
    padding: 20px 20px !important;
    border-top: 4px solid rgb(195, 57, 72) ;
    border-radius: 15px;
}

.card-info i{
    font-size: 25px;
    margin-bottom: 15px;
}

.card-info h4 {
    font-size: 20px;
}

.card-info p {
    font-size: 14px;
}

.milestone-section {
    margin:  60px auto;
}

.font-style {
    font-family: "Raleway", sans-serif !important;
}

.milestone-card {
    padding: 40px 20px 24px 20px;
    position: relative;
}

.milestone-card::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: rgb(195, 57, 72);
    border-radius: 50%;
    border: 3px solid ffffff;
    box-shadow: 0 0 0 6px  color-mix(in srgb, #c33948, transparent 80%);
}

.milestone-top-border {
    border-top: 2px solid  rgb(230, 103, 118);
}


/* featured program */


.featured-main {
    border-left: 4px solid #c33948;
    border-radius: 20px;
    overflow: hidden;
}

.featured-badge {
    background-color: #c33948;
    padding: 8px 12px;
    color: white;
    border-radius: 10px;
    top: 15px;
    left: 15px;
    font-weight: 700;
    font-size: 12px !important;
}

.featured-lable {
    font-size: 14px;
    color: #c33948;
    font-weight: 600;
}

.featured-content h3 {
    color: #183152;
}

.stats-card {
    background-color: #f7dfe1 !important;
    padding: 8px 12px !important;
    color: rgb(73, 69, 69) !important;
    
    display: inline-flex !important;
    align-items: center;
    font-weight: 600;
    border-radius: 12px;
    font-size: 14px;
    
}

.section-title p {
    margin-top: 40px !important;
}
   
    .section-title h1 {
   font-size: 32px !important;
   color: rgb(24, 49, 82);
}

.section-title h1::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -22px;
    
    width: 180px;
    background-color: gray ;
    height: 2px;

}

.section-title h1::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -24px;
    
    width: 70px;
    background-color: rgb(167, 44, 44);
    height: 6px;

}

.program-card {
    border-radius: 15px !important;
   overflow-x: hidden !important;
   transition: all 0.4s ease;
}

.program-card .card-body h5 {
    font-size: 18px !important;
}

.duration-badge {

background-color: white;
padding: 4px 8px !important; 
color: rgb(54, 53, 53);
font-size: 14px;
font-weight: 600;
bottom: 15px;
right: 15px;
position: absolute;
border-radius: 20px;
z-index: 2;

}

.program-card:hover {
   border: 1px solid #c33948;
   transform: translateY(-5px);
}

.card-image-part {
    overflow: hidden !important;
    position: relative;
    
}

.card-image-part img {
transition: all 0.3s ease;
}

.program-card:hover .card-image-part img {
  transform: scale(1.2);
}

.program-card .card-body a:hover {
    color: #c33948 !important;
   
}

.program-card .card-body a:hover i {
    color: #c33948 !important;
     transform: translateX(3px) !important;
}

/* .card-image-part::before {
    content: "" !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 100%;
    width: 100%;
    background: #040b0d !important;
    background: linear-gradient(180deg, rgba(4, 11, 13, 0.43) 0%, rgba(0, 0, 0, 1) 80%) !important;
    /* z-index: -1 !important; */


.img-div-overlay {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;
    width: 100%;
    height: 100%;
}


.student-content-part {
    border-left:4px solid #c33948 ;
    padding-left: 20px !important;
}



/* stundent-block-content */
.studnet-content-part h2 {
    font-size: 35px !important;
    color: rgb(24, 49, 82);

}


.highlight-box {
    background-color: #f7ebec;
    border-radius: 12px;
}

.highlight-icon {
    background-color: #c33948;
    color: white;
    padding: 8px 10px;
    font-size: 20px;
    border-radius: 50%;
}



.button-content a{
    padding: 12px 20px !important;
    border-radius: 12px !important;
    font-size: 16px !important;
}


.button-content a i {
    transition: all 0.3s ease;
    margin-top: 5px;
}

.button-content a i:hover {
    transform: scale(1.4);
}

.classroom-img  {
width: 100%;
height: 100%;
background-image: url("https://bootstrapmade.com/content/demo/UniPulse/assets/img/education/students-3.webp");
background-repeat: no-repeat ;
background-size: cover;
border-top-left-radius: 15px;
border-bottom-right-radius: 15px;
border-top-right-radius: 80px;
border-bottom-left-radius: 80px;
min-height: 600px;
 
}

/* comapny stats */

.company-states {
    background-color: #FCF3F4;
    margin: 40px auto;
    padding: 32px 40px;
    border-radius: 15px;
    border: 1px solid #f1d9dd;
}

/* testimonials */

.review-main-card {
    border-radius: 15px;
    overflow: hidden !important;
    position: relative;
    transition: box-shadow 0.3s ease;
    z-index: 2;

  
}


.review-main-card:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);

}

.review-main-card:hover::before {
    height: 100%;
}

.user-image-div {
    border-radius: 15px ;
    overflow: hidden;
    width: 120px;
    height: 120px;
   
}

.review-main-card::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 40%;
    border-top-left-radius: 15px !important;
    background-color: #c33948;
    left: -12;
    top: 0;
    overflow: hidden !important;
    transition: height 0.3s ease;
  
}

.review-content {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom:24px;
    line-height: 28px;
    
   

}

.review-content-qouats {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    color: #c33948;
    font-family: "Raleway", sans-serif;
    z-index: -1;
    opacity: 0.1;
}

/* full stats */

.stats-title-intro {
border-left: 4px solid rgba(195, 57, 72,0.3) ;
}

.stats-title-intro p {
    margin-left: 90px;
    padding: 0px 12px;
}

.stats-banner {
    margin: 40px auto;
    padding: 40px 16px;
    border-radius: 15px;
     background: #d91a1a;
background: linear-gradient(131deg, rgba(217, 26, 26, 1) 0%, rgba(217, 35, 50, 1) 21%, rgba(143, 24, 40, 1) 67%);
}

.stats-block {
    position: relative;
    
    
}

.stats-block:not(:last-child)::after {
    position: absolute;
    content: "";
    top: 20%;
    right: 0;
    height: 60%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}
            /* Empowering Schollar */


    .image-showcase {
         padding: 32px;
        position: relative;
       
        
    
            }

.img-primary {
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
   
}



/* .img-primary img{
    display:block !important;
    width:100% !important;
    height: auto !important;
} */


.exp-badge {
    border-radius: 15px;
    padding: 20px;
    top: -10px;
    left: -10px;
    overflow: hidden;
    position: absolute ;
}

.image-secondary {
    position: absolute;
    width: 42%;
    border: 5px solid rgb(214, 207, 207);
    border-radius: 15px;
    bottom: -1px;
    right: -1px;
    overflow: hidden;
   

   
}

.image-secondary img,.img-primary img {
     transition: all 0.3s ease;
}


.image-showcase .img-primary img:hover {
        transform: scale(1.1) ;
    overflow: hidden !important;
}

.image-secondary img:hover {
    transform: scale(1.1) ;
    overflow: hidden !important;
}

.empower-detail-content h3 {
    font-size: 36px !important;
}

.empower-detail-content p {
    font-size: 17px !important;
    line-height: 30px;
}

/* .empower-entry {

} */

.empower-number {
    width: 48px;
    height: 48px;
    background-color:#F7E7E9 ;
    border-radius: 50%;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.empower-number:hover {
    background-color: #c33948;
    color: white !important;
    transform: scale(1.1);
}


.btn-main{
    border-radius: 8px;
    padding: 12px 20px;
    border: 3px solid #c33948 !important;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.btn-main:hover {
    background-color: #c43041;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.fa-arrow-right {
    transition: all 0.2s ease;
}

.btn-main:hover .fa-arrow-right {
    transform: translateX(3px);
}

.info-btn {
    border-radius: 8px;
    padding: 12px 20px;
    border: 3px solid #c43041; 
    transition: all 0.3s ease;
}

.info-btn:hover {
    background-color: #c43041 !important;
    color: white !important;
}
  
/* recent news section */

.news-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
}

.news-card-section .card {
   border-radius: 15px !important;
   overflow: hidden !important;
   object-fit:cover !important ;
}

.news-badge{
    top: 15px;
    left: 15px;
}

.news-image-section img {
    transition: all 0.3s ease;
}



.news-card-section:hover .card-body h4 {
    color: #c33948 !important;
}

.news-card-section:hover .news-image-section img {
   transform: scale(1.1);
}

.side-post-image {
    border-radius: 8px;
   flex: 0 0 130px;
    height: 110px;

}

.side-post-image img {
    object-fit: cover !important;
    height: 100%;
}

.side-post-content span::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #c43041;
    left: -2px;
    top: 7px;
}

.meta-profile-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    
}

.news-side-post {
    border-radius: 8px;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
}

.news-side-post:hover {
    border-left: 3px solid #c33948;
}

.side-post-image img {
    transition: all 0.3s ease;
}

.news-side-post:hover .side-post-image img {
    transform: scale(1.1);
}

.side-post-content h4 {
    transition: all 0.3s ease;
}

.news-side-post:hover .side-post-content h4 {
    color: #c33948 !important;
}

/* events */

.events-border {
    border-radius: 12px !important;
}

.feature-events-img {
    height: 100% !important;
    
}

.feature-events-img img{
    
    height: 100% !important;
    object-fit: cover !important;
    
}

.feature-events-content {
    padding: 32px 40px;
}

.feature-events-meta span {
    background-color: #DCE8F6;
    padding: 6px 10px;
    font-size: 11px !important;

}

.feature-events-date {
 background-color: #F9EBEC;
 padding: 8px 14px;
 border-radius: 10px;
}

.feature-events-date p {
 font-size: 11px !important;

}

.feature-events-content .btn {
    border-radius: 8px !important;
    transition: all 0.3s ease;
}

.feature-events-content .btn:hover {
    transform: translateX(5px);
    background-color: #b22a3a !important;
}


